#banner {
    border-bottom: none;
    margin-top: -20px;
    position: relative;
    padding: 15px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #000000;
    opacity: 0.65;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.angular-google-map {
  width: 100%;
  height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
